nav {
  padding: 5rem;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: #f8f8f8;
  width: 100%;
}

nav img {
  width: 130px;
  height: 130px;
  margin-top: 2rem;
}

nav ul {
  margin: 0 .7rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.3rem;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1rem;
}

nav ul li {
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  opacity: 0.7;
}

/*Navbar*/
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

li {
  cursor: auto;
  padding: .5rem 1.5rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

input#checkbox:checked ~ ul.collapsed {
  right: 0px;
}

ul.collapsed li {
  font-size: 2rem;
  padding: 2rem 0;
}

ul.collapsed {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: -50000px;
  line-height: 30px;
  transition: ease-in-out .2s;
  z-index: 1;
  color: #fff;
  background-color: rgba(43, 43, 43, .9);
}

#x {
  position: relative;
  left: 230px;
}

#checkbox {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

#mobile {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1222px) {
  #desktop {
    display: none;
  }

  #mobile {
    display: flex;
  }

  #x {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0;
  }
}

@media (max-width: 767px) {
  nav img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 620px) {
  nav img {
    width: 100px;
    height: 100px;
  }
}