#title {
  width: 500px;
  color: var(--text-title);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: -3rem auto;
  font-size: 2.688rem;
  line-height: 3.125rem;
}

.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 360px;
}

.image {
  width: 950px;
  height: 550px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 160px;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 160px;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}